<ul>
	<% @events.each do |event| %>
	<li>
		<%= event.name %>
		<%= link_to "show", event_path(event) %>
		<%= link_to "edit", edit_event_path(event) %>
		<%= button_to "delete", event_path(event), :method => :delete %>
	</li>
	<% end %>
</ul>
<%= paginate @events %>
<%= link_to "new", new_event_path %>